{% extends "base.html" %} {% block title %}Corporate Statements{% endblock %} {%
block content %}
<div class="container container-corporate">
  <div class="container-h">
    <h1>Corporate Statements</h1>
    <div class="underline"></div>
  </div>
  <div class="section">
    <h3>MISSION</h3>
    <p>
      To partner with the community to fill in the gap in the provision of
      financial solutions to its chosen customer.
    </p>
  </div>
  <div class="section">
    <h3>VISION</h3>
    <p>
      To be the best in-class Microfinance Institution that provides
      professional and flexible financial solutions to its chosen customers
    </p>
  </div>
  <div class="section">
    <h1>VALUES</h1>
    <div class="section">
      <h3>PROFESSIONALISM</h3>
      <p>
        We commit to honesty, integrity and professionalism in all that we do
        for and in the name of the institution.
      </p>
    </div>
    <div class="section">
      <h3>TEAM WORK</h3>
      <p>We commit to teamwork for higher productivity</p>
    </div>
    <div class="section">
      <h3>INTEGRITY</h3>
      <p>
        We commit to upholding the integrity of the institution and all its
        stakeholders
      </p>
    </div>
    <div class="section">
      <h3>INNOVATION</h3>
      <p>
        We commit to enhance products in line with the business and its
        environment
      </p>
    </div>
    <div class="section">
      <h3>RESPECT</h3>
      <p>
        We commit to have respect for each person as an individual deserving of
        our best service at all times without discrimination
      </p>
    </div>
  </div>
</div>
{% endblock %}
